---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">人工智能</span>
    <span class="gpt-subtitle">体验</span>
  </div>
  <p mt-1 op-60>使用ChatGPT基于gpt-3.5-turbo API 开发</p>
</header>
